html {
    font-size: 10px;
}

@media (min-width: 926px) {
    html {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: ghostwhite;
}

.title {
    display: flex;
    color: #027c04;
    font-family: 'Fenix', serif;
    justify-content: space-between;
    margin-left: 3.0rem;
    font-size: 1.6rem;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

button {
    display: none;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 5.0rem;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center
}

.login-register {
    display: flex;
    align-items: center;
}

    .login-register li.register {
        border-left: 1px solid #858585;
        padding: 10px; /* add some padding to separate the border from the text */
    }
/* NAVBAR */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #858585;
    font-size: 1.0rem;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav p {
    text-decoration: none;
    color: #027c04;
    font-size: 1.0rem;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}

nav li a:hover {
    color: #616161;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #027c04;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li p:hover::after {
    width: 0%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

.Userindex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0, 128, 0, 0.5), rgba(255, 255, 255, 0.5)),linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.3)), url("../Images/Userindex-CMS.jpg");
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Fenix', serif;
    overflow-y: auto;
}

/* Sidebar styles */
.sidebar {
    width: 305px; /* Adjust the width as needed */
    background-color: #027c04;
    padding: 20px;
    color: #fff;
    font-family: 'Fenix', serif;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 20px red;
}

.user {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 30px; /* Adjust the gap as needed */
    padding: 10px;
}
    .user i {
        font-size: 4.0rem;
    }
    .user h2 {
        margin-bottom: 10px;
    }

.navigation ul {
    list-style: none;
}
    .navigation ul li {
        width: 100%;
    }

    .navigation ul li a {
        display: block;
        margin-bottom: 5px;
        color: #fff;
        font-size: 1.0rem;
        padding: 7px;
        text-decoration: none;
    }

        .navigation ul li a:hover {
            background-color: #fff;
            color: #027c04;
            border-radius: 10px;
            font-size: 1.2rem;
        }

/* Style the content container */
.content {
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

/* Style the page title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the "Create New Record" button */
#createButton {
    background-color: #027c04;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    #createButton:hover {
        background-color: #618f6d;
        text-decoration: none;
        color: #fff;
        text-decoration: none; /* Remove the underline */
        color: inherit; /* Use the default text color */
    }

/* Style the records table */
#recordsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    #recordsTable th,
    #recordsTable td {
        padding: 10px;
        text-align: left;
    }

    #recordsTable th {
        background-color: #007bff;
        color: #fff;
    }

    #recordsTable td {
        border-bottom: 1px solid #ddd;
    }

/* Style the "View," "Edit," and "Delete" buttons */
.viewButton,
.editButton,
.deleteButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.2s;
}

    .viewButton:hover,
    .editButton:hover,
    .deleteButton:hover {
        background-color: #0056b3;
    }

/* Style the modal (hidden by default) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Style the modal content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Style the close button inside the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover {
        color: #f00;
    }

.icon {
    margin-right: 10px;
}


footer {
    background-color: grey;
    color: #f6f6f6;
    font-size: 1.0rem;
    text-align: center;
    padding: 0.1em;
    width: 100%;
    height: 3vh;
}

@media only screen and (max-width: 926px) {

    button {
        display: flex;
        color: #027c04;
    }

    header {
        background-color: whitesmoke;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }

    .title {
        display: flex;
    }


    #menu-toggle,
    #close-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2.8rem;
        margin: 0;
        padding: 0;
    }


    .menu {
        display: none;
    }

    .show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5vh;
        height: auto;
        margin-left: -2.0rem;
        width: 100%;
        align-items: center;
        background-color: whitesmoke;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 1.0rem 0;
    }

    nav li {
        margin: 0.5rem 0;
    }

    nav a {
        text-decoration: none;
        color: #858585;
        font-size: 1.6rem;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    nav li a:hover {
        color: #616161;
    }


    nav {
        font-size: 1.2rem;
    }
    .user-logout {
        display: flex;
        align-items: center;
    }
    .container {
        height: 97vh; /* Adjust the height as needed */
        width: 100%;
    }
}
