html {
    font-size: 12px;
}

@media (min-width: 926px) {
    html {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: ghostwhite;
}

.title {
    display: flex;
    color: #027c04;
    font-family: 'Fenix', serif;
    justify-content: space-between;
    margin-left: 3.0rem;
    font-size: 1.6rem;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

button {
    display: none;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 5.0rem;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center
}

.login-register {
    display: flex;
    align-items: center;
}

    .login-register li:nth-child(2) a {
        padding: 12px; /* add some padding to separate the border from the text */
        border-radius: 4.0rem;
        background-color: #027c04;
        margin: 0px;
        color: white;
    }
        .login-register li:nth-child(2) a:hover {
            background-color: forestgreen;
        }

    .login-register li:nth-child(2)::after {
        display: none;
    }
/* NAVBAR */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #858585;
    font-size: 1.0rem;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav li a:hover {
    color: #616161;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #027c04;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Adjust the height as needed */
    width: 100vw;
}


.dashboard {
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fenix', serif;
    animation: slideshow 60s infinite linear;
    background-image: linear-gradient(to top,rgba(4,9,30,0.3), rgba(4,9,30,0.1)), url("../Images/Dashboard-CMS.jpg");
}

@keyframes slideshow {
    0% {
        background-image: linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("../images/Dashboard-CMS.jpg");
    }

    25% {
        background-image: linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("../images/Dashboard-CMS-1.jpg");
    }

    50% {
        background-image: linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("../images/Dashboard-CMS-2.jpg");
    }

    75% {
        background-image: linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("../images/Dashboard-CMS-3.jpg");
    }

    100% {
        background-image: linear-gradient(to top,rgba(4,9,30,0.5), rgba(4,9,30,0.5)),url("../images/Dashboard-CMS-4.jpg");
    }
}

.notes {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    justify-self: center;
    height: 50vh;
    padding: 20px;
}
    .notes h1 {
        text-shadow: 4px 4px 6px green;
        font-size: 4.0rem;
        font-weight: bold;
    }
    .notes h2 {
        text-align: center;
    }

    .notes p {
        color: white;
    }


.button {
    text-decoration: none;
    font-family: 'Fenix', serif;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    font-weight: lighter;
}

    .button:hover {
        color: white;
        background-color: #027c04;
        transition: 1s;
    }

footer {
    background-color: grey;
    color: #f6f6f6;
    font-size: 1.0rem;
    text-align: center;
    padding: 0.1em;
    width: 100%;
    height: 3vh;
}

@media only screen and (max-width: 926px) {

    button {
        display: flex;
        color: #027c04;
    }

    header {
        background-color: whitesmoke;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .title {
        display: flex;
    }


    #menu-toggle,
    #close-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2.8rem;
        margin: 0;
        padding: 0;
    }


    .menu {
        display: none;
    }

    .show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5vh;
        height: auto;
        margin-left: -2.0rem;
        width: 100%;
        align-items: center;
        background-color: whitesmoke;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .login-register {
        display: flex;
        align-items: center;
    }

        .login-register li:nth-child(2) a {
            padding: 12px; /* add some padding to separate the border from the text */
            border-radius: 4.0rem;
            background-color: #027c04;
            margin: 0px;
            color: white;
        }

            .login-register li:nth-child(2) a:hover {
                background-color: forestgreen;
            }

        .login-register li:nth-child(2)::after {
            display: none;
        }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 1.0rem 0;
    }

    nav li {
        margin: 0.5rem 0;
    }

    nav a {
        text-decoration: none;
        color: #858585;
        font-size: 1.6rem;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    nav li a:hover {
        color: #616161;
    }


    nav {
        font-size: 1.2rem;
    }
    .dashboard {
        height: 97vh;
        width: 100vw;
    }
    .container {
        height: 97vh; /* Adjust the height as needed */
        width: 100%;
    }
}
